<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>input</key>
		<string>this is some test...</string>
		<key>output</key>
		<string>dGhpcyBpcyBzb21lIHRlc3QuLi4=</string>
	</dict>
	<dict>
		<key>input</key>
		<string>testing this</string>
		<key>output</key>
		<string>dGVzdGluZyB0aGlz</string>
	</dict>
</array>
</plist>
