<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>balls</string>
		<key>extension</key>
		<string>jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rainbow</string>
		<key>extension</key>
		<string>png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iphone_photo</string>
		<key>extension</key>
		<string>jpg</string>
	</dict>
</array>
</plist>
